@import url("./fonts.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}
.cont{
  max-width: 1550px;
  padding: 15px;
  margin: 0 auto;

  font-family: 'OpenSans', sans-serif;
  color: #101010;
  cursor: default;
}
.user_name_list{
  font-family: 'OpenSans', sans-serif;
  color: #101010;
  cursor: default;
}
.company_employees_list {
  align-items: flex-start;
}

.information_employees{

  //box-shadow: 0 0 4px 2px #cacaca;
  border-radius: 3px;
  position: relative;
  padding: 20px 15px;
}

.company_employees_item {
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 253, 255, 0.69);
  //position: relative;
  //padding: 20px 15px;
  //box-shadow: 0 0 4px 2px #cacaca;
  //background-color: rgb(251, 253, 255);
  max-width: 500px;
  //background-color: #eef2f4;

  &__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wrap{
    display: flex;
    align-items: center;
  }
  &__img{
    position: relative;
    width: 10%;
    min-width: 50px;
    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }
    border-radius: 50%;
    box-shadow: 0 0 3px 1px #797878;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__information{
    p{
      margin-bottom: 0;
      padding: 0;
    }
    margin-right: 10px;
    font-size: 17px;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__label{
    font-weight: 600;
    margin-right: 10px;
  }
  &__salary{
    margin-top: 5px;
    p{
      font-size: 21px;
      margin: 0;
      padding: 0;
      font-weight: 500;
    }
  }



}

.container_progressbar{
  position: relative;
  width: 90%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
}

.cart_progressbar__progress{
  display: flex;
  height: 7px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.cart_progressbar_color_1{
  background-color: #007bff;
}
.cart_progressbar_color_2{
  background-color: #fb434a;
}
.cart_progressbar__progress_bar {
  //background-color: #007bff;
  transition: width .6s ease;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.cart_progressbar {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  max-width: 100%;
}

@keyframes zoomIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



.progressbar-count {
  align-self: flex-end;
  //margin-top: -18px;
  //margin-right: 9px;

  //position: absolute;
  //right: 0px;
  //top: -8px;
  p{
    margin: 0;
    padding: 0;
    color: #c8c9ca;
    font-size: 12px;
  }
}

.main-container-progressbar{
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 4px 2px #cacaca;
  background-color: #fbfdff;
  &:after{
    position: absolute;
    top: -7px;
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    background-color: #fbfdff;
  }
}


.general_information_item{
  background-color: rgba(249, 253, 255, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__body{
    display: flex;
    padding-left: 20%;
  }
  &__icon{
    i{
      font-size: 60px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }
  &__title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
  }
  &__count{
    font-size: 15px;
  }
  &__wrap_info{
    p{
      &:last-child{
        margin: 0;
      }

    }
  }
}


/*Loader*/

.pacman {
  position: fixed;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1001;
}

.pacman > div:first-of-type, .pacman > div:nth-child(2) {
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-top: 25px solid #ababab;
  border-left: 25px solid #ababab;
  border-bottom: 25px solid #ababab;
  border-radius: 25px;
  position: relative;
}

@-webkit-keyframes rotate_pacman_half_up {
  0%, 100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate_pacman_half_up {
  0%, 100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate_pacman_half_down {
  0%, 100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes rotate_pacman_half_down {
  0%, 100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@-webkit-keyframes pacman-balls {
  75% {
    opacity: .7;
  }
  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}

@keyframes pacman-balls {
  75% {
    opacity: .7;
  }
  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}



.pacman > div:nth-child(3) {
  -webkit-animation: pacman-balls 1s -.66s infinite linear;
  animation: pacman-balls 1s -.66s infinite linear;
}

.pacman > div:nth-child(4) {
  -webkit-animation: pacman-balls 1s -.33s infinite linear;
  animation: pacman-balls 1s -.33s infinite linear;
}

.pacman > div:nth-child(5) {
  -webkit-animation: pacman-balls 1s 0s infinite linear;
  animation: pacman-balls 1s 0s infinite linear;
}

.pacman > div:first-of-type {
  -webkit-animation: rotate_pacman_half_up .5s 0s infinite;
  animation: rotate_pacman_half_up .5s 0s infinite;
}

.pacman > div:nth-child(2) {
  -webkit-animation: rotate_pacman_half_down .5s 0s infinite;
  animation: rotate_pacman_half_down .5s 0s infinite;
  margin-top: -50px;
}

.pacman > div:nth-child(3), .pacman > div:nth-child(4), .pacman > div:nth-child(5), .pacman > div:nth-child(6) {
  background-color: #ababab;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transform: translate(0, -6.25px);
  transform: translate(0, -6.25px);
  top: 25px;
  left: 100px;
}


















@media screen and (max-width: 1500px) {
  .company_employees_list {
    margin-left: 0px;
    margin-right: 0px;
  }
  .company_employees_list .col-flex {
    width: calc(100%/2 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
  }
}











@media (max-width: 991px) {
  .cui-info-card {
    margin-bottom: 1.23rem !important;
    margin-top: 0 !important;
  }
}


















