*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}
.cont{
  max-width: 1550px;
  padding: 15px;
  margin: 0 auto;
}
.but{
  display: block;
  padding: 10px 15px;
  background-color: #8b8329;
  color: #fff;
}




.boots-cont{
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 2px #cacaca;
  padding: 10px;
  background-color: rgba(242, 249, 255, 0.3);
}
.user_name_list{
  align-items: flex-start;

  &__item{
    position: relative;
    //display: flex;
    //align-items: center;
    box-shadow: 0 0 4px 2px #cacaca;
    padding: 10px;
    background-color: rgb(251, 253, 255);
    //z-index: 1;
    max-width: 500px;
  }
  &__container{
    display: flex;
    align-items: center;
  }
  &__img{
    position: relative;
    width: 21%;
    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }
    border-radius: 50%;
    box-shadow: 0 0 3px 1px #797878;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__wrap{
    p{
      margin-bottom: 0;
      padding: 0;
    }
    display: flex;
    margin-right: 10px;
    font-size: 17px;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__label{
    font-weight: 600;
    margin-right: 10px;
  }


  &__progress{
    //margin-top: 40px;
    //margin-bottom: 20px;
    .progress-bar{
      will-change: auto;

      p{
        margin: 0;
      }
    }
  }

}

.container-progressbar{
  position: relative;
  width: 80%;


  &__margin{
    margin: 40px auto 25px;
  }

  .progress-bar {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:1;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

}
.wrapper-progressbar{
  background-color: #e9ecef;
  border-radius: .25rem;
  max-width: 100%;
  &__margin{
    margin: 7px 0 0;
  }
}
@keyframes zoomIn {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}



.progressbar-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  margin-left: -26px;
  width: 52px;
  top: 50%;
  margin-top: -26px;

  height: 52px;
  border: solid 1px #c7d7ec;
  box-shadow: 0 0 2px 0 #7b7b7b;
  border-radius: 50%;
  /*border-radius: 2px;*/
  background: #e9ecef;
  font-weight: normal;
  cursor: auto;
  /* padding: 3px; */






  p{
    margin: 0;
    padding: 0;
  }
}

/*.progressbar-count:before,
.progressbar-count:after {
  display: block;
  content: "";
  height: 10px;
  width: 10px;
  background: #e9ecef;
  border: solid 1px #c7d7ec;
  transform: rotate(45deg);
  position: absolute;
  top: 25px;
  left: 18.6px;
}*/


.progressbar-count:before {
  display: none;
}


.progressbar-count:after {
  border-top-color: transparent;
  border-left-color: transparent;
  //margin: 2px auto -14px auto;
}




.main-container-progressbar{
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 4px 2px #cacaca;
  background-color: #fbfdff;
  &:after{
    position: absolute;
    top: -7px;
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    background-color: #fbfdff;
  }
}

@media screen and (max-width: 1500px) {
  .user_name_list {
    margin-left: 0px;
    margin-right: 0px;
  }
  .user_name_list .col-flex {
    width: calc(100%/2 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
  }
}



























